.cellSpacing {
	width: 100px !important;
	display: flex !important;
	justify-content: space-between !important;
}

.rightSpacing {
	margin-right: 10px !important;
}

.leftSpacing {
	margin-left: 10px !important;
}

.fontSize {
	font-size: 14px !important;
}

.noStyleList {
	text-decoration: none !important;
	list-style: none !important;
	padding: 10px 0px 25px 0px !important;
}

.dimmerMargin {
	width: 400px !important;
	display: flex;
	flex-direction: column;
	justify-content: space-around !important;
	text-align: center !important;
}

.paddingBottom {
	padding-bottom: 10px !important;
}

.itemCount {
	font-size: 22px !important;
	font-weight: 700 !important;
	margin-left: 20px !important;
}
