.rightAligned {
	display: flex !important;
	justify-content: flex-end !important;
}

.noMarginBottom {
	margin-bottom: 0px !important;
}

.centered {
	text-align: center !important;
	justify-content: center !important;
}

.spaceAround {
	display: flex !important;
	justify-content: space-around !important;
}

.spacing {
	margin-left: 4px !important;
	margin-right: 4px !important;
}

.timeRange {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.matchPadding {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	margin-left: 4px !important;
	margin-right: 4px !important;
}

@media only screen and (max-width: 720px) {
	.timeRange {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
	.spacing {
		margin-top: 4px !important;
		margin-bottom: 4px !important;
	}
	.matchPadding {
		padding-top: 15px !important;
		padding-bottom: 15px !important;
		margin-top: 4px !important;
		margin-bottom: 4px !important;
	}
}

.basicFormSpacing {
	font-weight: bold !important;
	font-size: 14px !important;
	padding: 5px 0px !important;
}
