.cellSpacing {
	width: 170px !important;
	display: flex !important;
	justify-content: space-between !important;
}

.rightSpacing {
	margin-right: 10px !important;
}

.leftSpacing {
	margin-left: 10px !important;
}

.fontSize {
	font-size: 14px !important;
}

.itemCount {
	font-size: 22px !important;
	font-weight: 700 !important;
	margin-left: 20px !important;
}

.pagination {
	display: flex !important;
	align-items: center !important;
}

@media only screen and (max-width: 767px) {
	.itemCount {
		font-size: 22px !important;
		font-weight: 700 !important;
		margin-left: 0px !important;
	}
	.pagination {
		height: 80px !important;
		display: flex !important;
		flex-direction: column !important;
		align-items: flex-start !important;
		justify-content: space-between !important;
	}
}
