.rightAligned {
	display: flex !important;
	justify-content: flex-end !important;
}

.noMarginBottom {
	margin-bottom: 0px !important;
}

.buttonSpacing {
	width: 100% !important;
	display: flex !important;
	justify-content: space-between !important;
}
