.custom-menu-container {
	display: flex;
	height: 100vh;
	width: 100%;
}

.custom-menu-sidebar {
	overflow-y: scroll;
	margin: 0px 25px 25px 25px;
	height: 83%;
	width: 100%;
	z-index: 0;
	padding: 0px 12px;
}

.right-box {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-flow: wrap;
	height: 100vh;
	background-color: #eeeeee;
}

.fullWidth {
	width: 100% !important;
}

.sidebar-box {
	z-index: 5;
}

.responsive-sidebar {
	overflow: hidden !important;
}

.contentContainer {
	height: auto;
	margin-bottom: 25px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	padding: 14px;
}

.fixedContainer {
	height: auto;
	margin: 0px 47px 25px 37px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	padding: 5px 14px;
	display: flex;
	justify-content: center;
	border-radius: 5px;
}

.fixedButtons {
	align-self: flex-end;
	display: flex;
	margin-top: 30px;
	width: 100%;
	justify-content: flex-end;
}

.fixedTitle {
	margin: 0px !important;
}

.paddingPusher {
	padding-right: 255px !important;
	transform: 0.5s ease !important;
	-webkit-transform: 0.5s ease !important;
	transition: right 2s ease !important;
}

@media only screen and (max-width: 600px) {
	.paddingPusher {
		padding-right: 0px !important;
		transform: 0.5s ease !important;
		-webkit-transform: 0.5s ease !important;
		transition: right 2s ease !important;
	}
}
